nav .active{
    color:#CE412D !important;
    background: rgba(231, 175, 172, 0.15);
    border-radius: 14px;
}

nav a:hover{
    color:#CE412D !important;
}

.flatpickr-wrapper{
    width:100%;
}

#allow_cancellations{
list-style-type: none;
}

#btn-back-to-top {
    bottom: 20px;
    right: 20px;
  display: none;
  z-index:10;
}

#btn-timezone.btn-fixed {
    bottom: 20px;
    right: 100px;
    z-index:10;
  }

.btn-fixed{
    position: fixed;
 }

 #spinner {
    display:none;
   }
  
  #spinner .text-center {
      width: 100%;
      position: relative;
      height: 100%;
      z-index: 1041;
  }
  
  #spinner .spinner-grow {
      display: block;
      position: fixed;
      top: calc(50% - (58px / 2));
      right: calc(50% - (58px / 2));
      color: #fff;
  }
  
  #spinner .spinner-backdrop{
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1040;
      width: 100vw;
      height: 100vh;
      background-color: #000;
      opacity:0.5;
  }