{% extends "base.html" %}
{% set active_page = "add-rooms" %}
{% block title %}Add rooms{% endblock %} {% block
content %}
<div class="row p-4 p-md-5 mb-4 text-white rounded bg-dark">
   <div class="col-md-8 px-0">
      <h1 class="display-4">Add rooms</h1>
      <p class="fs-5 text-muted">Upload CSV file with your Totra instance room details. Ensure that CSV has the following headings: {{ required_headings }}.
      </p>
      <p class="fs-5 text-muted">Below there's a quick guide on how to create this report and generate CSV file with rooms in Totara.</p>
      <div>
         <form id="add-rooms-form" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ form.file(class="form-control mb-3 btn btn-lg btn-light") }}
		 <div class="btn-group w-100">
            {{ form.submit(class="btn btn-lg btn-primary") }}<a class="btn btn-lg btn-outline-light"  href="{{ url_for('create_recurring_events') }}">Generate recurring events</a>
			 </div>
         </form>
         
         <div class="message">

            <div class="alert  mt-3" role="alert"></div>
  
           </div>
      </div>
   </div>
   <div class="col-md-4"><img class="img-fluid" src="{{ url_for('static', filename='img/door.png') }}"></div>
</div>
<h2 class="display-6 text-center mb-4">How to download csv with rooms from your Totara instance</h2>
<ol class="list-group list-group-numbered">
   <li class="list-group-item">Go to Reports.</li>
   <li class="list-group-item">Click on "Create report".</li>
   <li class="list-group-item">Enter a report name, select source - "Seminar Rooms" and click "Create report" button.</li>
   <li class="list-group-item">Add all required columns and customise their headings as following: {{ required_headings }}.</li>
   <li class="list-group-item">Open this report.</li>
   <li class="list-group-item">Download report in CSV format.</li>
</ol>
{% endblock %}

{% block body_bottom_js %}
<script>


   $(document).on('submit', '#add-rooms-form', function(e) {
       e.preventDefault();
       message_container = $('.alert')
       $.ajax({
         method: 'POST',
         url: 'add-rooms',
         data: new FormData($(this)[0]),
         contentType: false,
         cache: false,
         processData: false,
         beforeSend: function() {
            $('#spinner').show();
         },
         complete: function(){
            $('#spinner').hide();
         },
         success: function(resp){
               $('#file').val('')
               message_container.addClass('alert-success').removeClass('alert-danger');
               message_container.html(resp.message)
         },
         error: function(request,status, message){

            message_container.addClass('alert-danger').removeClass('alert-success');
            message_container.html(request.responseJSON.message)
         }
       });
   });
   
 </script>
 {% endblock body_bottom_js %}
