{% extends "base.html" %} 
{% set active_page = "create-recurring-events" %}
{% block title %}Create event recurrance{% endblock title %}
{% block content %}

<div class="row g-5">
  <div class="col-md-12">
    <form class="needs-validation" method="POST" action="generate-events" novalidate="">
      <div class="row g-3">
        <div class="col-md-6">
          <h4 class="mb-3">Event details</h4>
          <div class="row g-3">
            
            {% if custom_fields|length > 0 %}
              {% for field in custom_fields%}
                {% if field.field_type == "text"%}
                <div class="col-6">
                  <label class="form-label" for="{{ field.field_name }}">{{ field.field_name }}</label>

                  <input
                    id="{{ field.field_name }}"
                    name="{{ field.field_name }}"
                    type="text"
                    placeholder=""
                    class="form-control"
                    value="{{ field.field_data }}"
                    required=""
                  />
                </div>
                {% endif %}
              
              {% endfor %}
            {% else %}
            <div class="col-6">
              <label class="form-label" for="timestart">Custom fields</label>
              <a class=" btn btn-light" href="{{ url_for('upload_backup') }}">Add custom fields (optional)</a>
            </div>
            {% endif %}

            <div class="col-sm-12">
              {{ form.details.label(class_='form-label') }}
              {{ form.details() }}
            </div>

            <div class="col-6">
              {{ form.timestart.label(class_='form-label') }}
              {{ form.timestart() }}
            </div>

            <div class="col-6">
              {{ form.timefinish.label(class_='form-label') }}
              {{ form.timefinish() }}
            </div>

            <div class="col-sm-6">
              <div class="control-group">
                
                {{ form.rooms.label(class_='form-label') }}
                
                {% if form.rooms.choices %}                
                {{ form.rooms() }}
                {% else %}
                  <a class="d-block btn btn-light" href="{{ url_for('upload_rooms') }}">Add rooms (optional)</a>
                {% endif %}
              </div>
            </div>
            <div class="col-sm-6">
              {{ form.capacity.label(class_='form-label') }}
              {{ form.capacity() }}              
            </div>
          </div>
        </div>

        <div class="col-md-5 offset-md-1">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            Recurrence
          </h4>

          <div class="row mb-3">
            <div class="col-6">
              {{ form.datestart.label(class_='form-label') }}
              {{ form.datestart() }}
            </div>

            <div class="col-6">
              {{ form.datefinish.label(class_='form-label') }}
              {{ form.datefinish() }}
          </div>
        </div>
          
          <div class="row mb-3">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              Recurrence pattern
            </h4>
              <div class="control-group">
                {{ form.frequency.label(class_='form-label') }}
                {{ form.frequency() }}
              </div>
            </div>

            <div class="row mb-3">
              <!-- <div class="period-settings" style="display: none" id="daily">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="d_settings"
                    id="d_daily"
                  />
                  <div class="form-check-label" for="d_settings">
                    <span class="d-inline">Every</span>
                    <input
                      id="d_interval_days"
                      name="d_interval_days"
                      type="number"
                      placeholder=""
                      class="form-control d-inline"
                      required=""
                    />
                    <span class="d-inline">day(s)</span>
                  </div>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="d_settings"
                    id="d_weekdays"
                    checked
                  />
                  <label class="form-check-label" for="d_settings">
                    Every weekday
                  </label>
                </div>
              </div> -->

              <div class="col-4">
                <div id="occurrence-number-container" class="d-none control-group">
                  {{ form.occurrence_number.label(class_='form-label') }}
                  {{ form.occurrence_number() }}
                </div>

              </div>
              <div class="col-4">
                <div id="days-of-week-container">
                  {% for value, text in form.days_of_week.choices %}
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            value="{{ value }}"
                            name="days_of_week[]"
                            id="{{ value }}"
                          />
                          <label class="form-check-label" for="{{ value }}">{{ text }}</label>
                        </div>
                    {% endfor %}
              </div>
            </div>

              <div class="col-4">
              <div id="interval-container">
                {{ form.interval.label(class_='d-inline') }}
                {{ form.interval() }}  
                <span class="d-inline" id="interval-text">week(s)</span>
              </div>
            </div>
            
          </div>

          <div class="row mb-3">
          <input class="w-100 btn btn-primary btn-lg" type="submit" value="Generate events">
        </div>
        </div>
      </div>

      <hr class="my-4" />

      
    </form>
  </div>
</div>

<div class="row g-5">
  <div class="col-md-12">

    {% for sessions in session_sets %}
    {% set set_index = loop.index %}
    <table class="table">
      <thead>
        <tr>
          <th>Custom fields</th>
          <th>Max.bookings</th>
          <th>Details</th>
          <th>Date</th>
          <th>Start time</th>
          <th>Finish time</th>
          <th>Room</th>
          <th><form method="POST" action="delete-sessions-set">
            <input type="hidden" name="session_set_index" value="{{ set_index - 1 }}">
            <button type="hidden" name="delete_session">Delete this recurrance</button>
        </form></th>
        </tr>
      </thead>
      <tbody>
        {% for session in sessions %}
        <tr>
          <td scope="row">
            {% for custom_field in session.custom_fields_data %}
              {{ custom_field.field_name }} : {{ custom_field.field_data }} <br>
            {% endfor %}
          </td>
          <td>{{ session.capacity }}</td>
          <td>{{ session.details }}</td>
          <td>{{ session.date }}</td>
          <td>{{ session.timestart }}</td>
          <td>{{ session.timefinish }}</td>
          <td>{{ session.room }}</td>
          <td>
            {% set session_index = loop.index %}
            <form method="POST" action="delete-session">
              <input type="hidden" name="session_set_index" value="{{ set_index - 1 }}">
              <input type="hidden" name="session_index" value="{{ session_index - 1 }}">
              <button type="hidden" name="delete_session">x</button>
          </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% endfor %}

  </div>
</div>
{% endblock content %} 

{% block body_bottom_js %}

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
  flatpickr(".time", {
    enableTime: true,
    noCalendar: true,
    dateFormat: "H:i",
  });
  flatpickr(".cal", {
    enableTime: false,
    dateFormat: "d/m/Y",
  });
</script>

<script>
  let frequency = document.getElementById("frequency");
  let monthly = document.getElementById("occurrence-number-container");
  let interval_text = document.getElementById("interval-text");
  frequency.addEventListener("change", function () {
    document.getElementById("interval").value = "";
    checkboxes = document.getElementsByName('days_of_week');
    for(var i=0, n=checkboxes.length;i<n;i++) {
      checkboxes[i].checked = false;
    }

    if (frequency.value == "MONTHLY")
    {
      monthly.classList.remove("d-none")
      interval_text.innerHTML = "month(s)"
    } else {
      monthly.classList.add("d-none")
      interval_text.innerHTML = "week(s)"
    }
  });
</script>
{% endblock %}
