{% extends "base.html" %} 
{% set active_page = "create-recurring-events" %}
{% block title %}Create event recurrance{% endblock title %}
{% block content %}
<div class="row g-5">
  <div class="col-md-12">
    <form class="needs-validation" method="POST" action="" novalidate="">
      {{ form.hidden_tag() }}
      {{ form.errors }}
      <div class="row g-3">
        <div class="col-md-6">
          <h4 class="mb-3">Event details</h4>
          <div class="row mb-5">
            
            {% if custom_fields|length > 0 %}
              {% for field in custom_fields%}
                {% if field.field_type == "text"%}
                <div class="col-6">
                  <label class="form-label" for="{{ field.field_name }}">{{ field.field_name }}</label>

                  <input
                    id="{{ field.field_name }}"
                    name="{{ field.field_name }}"
                    type="text"
                    placeholder=""
                    class="form-control"
                    value="{{ field.field_data }}"
                    required=""
                  />
                </div>
                {% endif %}
              
              {% endfor %}
              {% else %}
              <div class="col-6">
                <label class="form-label" for="timestart">Custom fields</label>
                <a class=" btn btn-light" href="{{ url_for('upload_backup') }}">Add custom fields (optional)</a>
              </div>
              {% endif %}
            </div>
            <div class="row mb-5">
              <div class="col-sm-12">
                {{ form.details.label(class_='form-label') }}
                {{ form.details() }}
              </div>
            </div>
            
            <div class="row mb-5">
              <div class="col-6">
                {{ form.timestart.label(class_='form-label') }}
                {{ form.timestart() }}
                {% for error in form.timestart.errors %}
                  <small class="text-danger">{{ error }}</small>
                {% endfor %}    
              </div>
            

              <div class="col-6">
                {{ form.timefinish.label(class_='form-label') }}
                {{ form.timefinish() }}
                {% for error in form.timefinish.errors %}
                  <small class="text-danger">{{ error }}</small>
                {% endfor %}    
              </div>
            </div>
            
            <div class="row mb-5">
              <div class="col-sm-6">
                <div class="control-group">
                  {{ form.rooms.label(class_='form-label') }}    
                  {% if form.rooms.choices[0][0] != "None" %}  
                         
                    {{ form.rooms() }}

                  {% else %}
                    <a class="d-block btn btn-light" href="{{ url_for('upload_rooms') }}">Add rooms (optional)</a>
                  {% endif %}
                </div>
              </div>
              <div class="col-sm-6">
                {{ form.capacity.label(class_='form-label') }}
                {{ form.capacity() }}   
                {% for error in form.capacity.errors %}
                  <small class="text-danger">{{ error }}</small>
                {% endfor %}            
              </div>
            </div>
          
            <div class="row mb-5">
              <div class="col-sm-12">
                <div class="form-check">
                  {{ form.allow_overbook() }}  
                  {{ form.allow_overbook.label(class_='form-check-label') }}
                </div>
              </div>
            </div>
            <div class="row mb-5">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-12">
                {{ form.allow_cancellations.label(class_='form-label') }}

                {% for value, text in form.allow_cancellations.choices %}
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      {% if value == "1" %}
                      checked
                      {% endif %}
                      value="{{ value }}"
                      name="allow_cancellations"
                      id="allow_cancellations_choice_{{ value }}"
                    />
                    <label class="form-check-label" for="allow_cancellations_choice_{{ value }}">{{ text }}</label>
                  </div>
                  {% endfor %}
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    {{ form.cancellation_cutoff_number() }} 
                    {% for error in form.cancellation_cutoff_number.errors %}
                  <small class="text-danger">{{ error }}</small>
                {% endfor %}     
                  </div>
                  <div class="col-sm-5">
                    {{ form.cancellation_cutoff_timeunit() }}
                  </div>
                  <div class="col-sm-4">
                    <small class="text-muted fw-light d-block">before event starts</small>

                  </div>
                </div>  
              </div>
            </div>
            
            <div class="row mb-5">
              <div class="col-sm-6">
                {{ form.min_capacity.label(class_='form-label') }}
                {{ form.min_capacity() }}
                {% for error in form.min_capacity.errors %}
                  <small class="text-danger">{{ error }}</small>
                {% endfor %}               
              </div>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-12 mb-2">

                    <div class="form-check">
                      {{ form.send_capacity_email() }}  
                      {{ form.send_capacity_email.label(class_='form-check-label') }}
                    </div>
                </div></div>
                <div class="row">
                  <div class="col-sm-3">
                    {{ form.send_capacity_email_cutoff_number() }} 
                    {% for error in form.send_capacity_email_cutoff_number.errors %}
                  <small class="text-danger">{{ error }}</small>
                {% endfor %} 
                  </div>
                  <div class="col-sm-5">
                    {{ form.send_capacity_email_cutoff_timeunit() }} 
                  </div>
                  <div class="col-sm-4">
                    <small class="text-muted fw-light d-block">before event starts</small>

                  </div>
                </div>            
              </div>
            </div>
            <div class="row mb-5">
              <div class="col-sm-12">
                {{ form.normal_cost.label(class_='form-label') }}
                {{ form.normal_cost() }}   
                {% for error in form.normal_cost.errors %}
                  <small class="text-danger">{{ error }}</small>
                {% endfor %}           
              </div>
            </div>

          
        </div>

        <div class="col-md-5 offset-md-1">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            Recurrence
          </h4>

          <div class="row mb-5">
            <div class="col-6">
              {{ form.datestart.label(class_='form-label') }}
              {{ form.datestart() }}
              {% for error in form.datestart.errors %}
                  <small class="text-danger">{{ error }}</small>
                {% endfor %}
            </div>

            <div class="col-6">
              {{ form.datefinish.label(class_='form-label') }}
              {{ form.datefinish() }}
              
                {% for error in form.datefinish.errors %}
                  <small class="text-danger">{{ error }}</small>
                {% endfor %}

              
          </div>
        </div>
          
          <div class="row mb-5">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              Recurrence pattern
            </h4>
              <div class="control-group">
                {{ form.frequency.label(class_='form-label') }}
                {{ form.frequency() }}
              </div>
            </div>

            <div class="row mb-3">
              <!-- <div class="period-settings" style="display: none" id="daily">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="d_settings"
                    id="d_daily"
                  />
                  <div class="form-check-label" for="d_settings">
                    <span class="d-inline">Every</span>
                    <input
                      id="d_interval_days"
                      name="d_interval_days"
                      type="number"
                      placeholder=""
                      class="form-control d-inline"
                      required=""
                    />
                    <span class="d-inline">day(s)</span>
                  </div>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="d_settings"
                    id="d_weekdays"
                    checked
                  />
                  <label class="form-check-label" for="d_settings">
                    Every weekday
                  </label>
                </div>
              </div> -->

              <div class="col-4">
                <div id="occurrence-number-container" class="d-none control-group">
                  {{ form.occurrence_number.label(class_='form-label') }}
                  {{ form.occurrence_number() }}
                </div>

              </div>
              <div class="col-4">
                <div id="days-of-week-container">
                  {% for value, text in form.days_of_week.choices %}
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            value="{{ value }}"
                            name="days_of_week"
                            id="{{ value }}"
                          />
                          <label class="form-check-label" for="{{ value }}">{{ text }}</label>
                        </div>
                    {% endfor %}
              </div>
              {% for error in form.days_of_week.errors %}
                  <small class="text-danger">{{ error }}</small>
                {% endfor %}
            </div>

              <div class="col-4">
              <div id="interval-container">
                {{ form.interval.label(class_='d-inline') }}
                {{ form.interval() }}  
                <span class="d-inline" id="interval-text">week(s)</span>
              </div>
              {% for error in form.interval.errors %}
                  <small class="text-danger">{{ error }}</small>
                {% endfor %}
            </div>
            
          </div>

          <div class="row">
          {{ form.submit() }} 
        </div>
        </div>
      </div>

      <hr class="my-4" />

      
    </form>
  </div>
</div>

<div class="row g-5">
  <div class="col-md-12">

    {% for sessions in session_sets %}
    {% set set_index = loop.index %}
    <table class="table">
      <thead>
        <tr>
          <th>Custom fields</th>
          <th>Max.bookings</th>
          <th>Details</th>
          <th>Date</th>
          <th>Time</th>
          <th>Room</th>
          <th><form method="POST" action="delete-sessions-set" onSubmit="return confirm('Are you sure you wish to delete this recurrence?');">
            <input type="hidden" name="session_set_index" value="{{ set_index - 1 }}">
            <button type="hidden" class="btn " data-toggle="tooltip" data-placement="top" title="Delete  recurrance"><i class="bi bi-trash"></i></button>
        </form></th>
        </tr>
      </thead>
      <tbody>
        {% for session in sessions %}
        <tr>
          <td scope="row">
            {% for custom_field in session.custom_fields_data %}
              {{ custom_field.field_name }} : {{ custom_field.field_data }} <br>
            {% endfor %}
          </td>
          <td>{{ session.capacity }}</td>
          <td>{{ session.details }}</td>
          <td>{{ session.date.strftime('%A, %d %b %Y') }}</td>
          <td>{{ session.timestart }} - {{ session.timefinish }}</td>
          <td>{{ session.room }}</td>
          <td>
            {% set session_index = loop.index %}
            <form method="POST" action="delete-session" onSubmit="return confirm('Are you sure you wish to delete this event?');">
              <input type="hidden" name="session_set_index" value="{{ set_index - 1 }}">
              <input type="hidden" name="session_index" value="{{ session_index - 1 }}">
              <button type="hidden" class="btn " data-toggle="tooltip" data-placement="top" title="Delete event"><i class="bi bi-trash"></i></button>

          </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% endfor %}

  </div>
</div>
{% endblock content %} 

{% block body_bottom_js %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/flatpickr.min.css') }}">
<script src="{{ url_for('static', filename='js/flatpickr.min.js') }}"></script>

<script>
  flatpickr(".time", {
    enableTime: true,
    noCalendar: true,
    time_24hr: true,
    dateFormat: "H:i",
  });
  flatpickr(".cal", {
    enableTime: false,
    dateFormat: "d/m/Y",
    altInput: true,
    altFormat: "j F Y",
    static: true
  });
</script>

<script>
  let frequency = document.getElementById("frequency");
  let monthly = document.getElementById("occurrence-number-container");
  let interval_text = document.getElementById("interval-text");
  frequency.addEventListener("change", function () {
    checkboxes = document.getElementsByName('days_of_week');
    for(var i=0, n=checkboxes.length;i<n;i++) {
      checkboxes[i].checked = false;
    }

    if (frequency.value == "MONTHLY")
    {
      monthly.classList.remove("d-none")
      interval_text.innerHTML = "month(s)"
    } else {
      monthly.classList.add("d-none")
      interval_text.innerHTML = "week(s)"
    }
  });

  let allow_cancellations_choice_2 = document.getElementById("allow_cancellations_choice_2");
  let cancellation_cutoff_number = document.getElementById("cancellation_cutoff_number");
  let cancellation_cutoff_timeunit = document.getElementById("cancellation_cutoff_timeunit");
  allow_cancellations_choice_2.addEventListener("change", function () {
    if (allow_cancellations_choice_2.checked){
      cancellation_cutoff_number.disabled = false;
      cancellation_cutoff_timeunit.disabled = false;
    }
    else{
      cancellation_cutoff_number.disabled = true;
      cancellation_cutoff_timeunit.disabled = true;
    }
  });
  
var allow_cancellations = document.getElementsByName('allow_cancellations');
  
  allow_cancellations.forEach((input) => {
   input.addEventListener("change", function () {
   if (input.value == 2) {
    // do whatever you want with the checked radio
    cancellation_cutoff_number.disabled = false;
      cancellation_cutoff_timeunit.disabled = false;

  }
    else{
    cancellation_cutoff_number.disabled = true;
      cancellation_cutoff_timeunit.disabled = true;
    }
  });
  
})
  
  
  let send_capacity_email = document.getElementById("send_capacity_email");
  send_capacity_email.addEventListener("change", function () {
    if (send_capacity_email.checked){
      send_capacity_email_cutoff_number.disabled = false;
      send_capacity_email_cutoff_timeunit.disabled = false;
    }
    else{
      send_capacity_email_cutoff_number.disabled = true;
      send_capacity_email_cutoff_timeunit.disabled = true;
    }
  });

</script>
{% endblock %}
