{% extends "base.html" %} 
{% set active_page = "create-recurring-events" %}
{% block title %}Create event recurrance{% endblock title %}
{% block content %}

<div class="row g-5">
  <div class="col-md-12">
    <form class="needs-validation" method="POST" action="generate-events" novalidate="">
      <div class="row g-3">
        <div class="col-md-6">
          <h4 class="mb-3">Event details</h4>
          <div class="row g-3">
            

              {% for field in custom_fields%}
                {% if field.field_type == "text"%}
                <div class="col-6">
                  <label class="form-label" for="{{ field.field_name }}">{{ field.field_name }}</label>

                  <input
                    id="{{ field.field_name }}"
                    name="{{ field.field_name }}"
                    type="text"
                    placeholder=""
                    class="form-control"
                    value="{{ field.field_data }}"
                    required=""
                  />
                </div>
                {% endif %}
              
              {% endfor %}

            
            

            <div class="col-sm-12">
              <label class="form-label" for="details">Details</label>
              <textarea
                class="form-control"
                id="details"
                name="details"
              ></textarea>
            </div>

            <div class="col-6">
              <label class="form-label" for="timestart">Start time</label>

              <input
                id="timestart"
                name="timestart"
                type="text"
                placeholder=""
                class="form-control time"
                required=""
              />
            </div>

            <div class="col-6">
              <label class="form-label" for="timefinish">Finish time</label>
              <input
                id="timefinish"
                name="timefinish"
                type="text"
                placeholder=""
                class="form-control time"
                required=""
              />
            </div>

            <div class="col-sm-6">
              <div class="control-group">
                <label class="form-label" for="room">Room</label>
                <select id="room" name="room" class="form-select">
                  {% if rooms|length > 0 %}
                    {% for room in rooms %}
                    <option value="{{ room.id }}">{{ room.name }}</option>
                    {% endfor %}
                  {% else %}
                    <option value="None">None</option>
                  {% endif %}

                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <label class="form-label" for="capacity">Maximum bookings</label>
              <input
                id="capacity"
                name="capacity"
                type="number"
                placeholder=""
                class="form-control"
                required=""
              />
            </div>
          </div>
        </div>

        <div class="col-md-5 offset-md-1">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            Recurrence
          </h4>

          <div class="row mb-3">
            <div class="col-6">
              <label class="form-label" for="datestart">Start</label>

              <input
                id="datestart"
                name="datestart"
                type="text"
                placeholder=""
                class="form-control cal"
                required=""
              />
            </div>

            <div class="col-6">
              <label class="form-label" for="until">End by</label>
              <input
                id="datefinish"
                name="datefinish"
                type="text"
                placeholder=""
                class="form-control cal"
                required=""
              />
            </div>
          </div>

          
          <div class="row mb-3">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              Recurrence pattern
            </h4>
              <div class="control-group">
                <label class="form-label" for="frequency">Period</label>
                <select
                  id="frequency"
                  name="frequency"
                  class="form-select"
                >
                  <!-- <option value="daily">Daily</option> -->
                  <option selected="selected" value="WEEKLY">Weekly</option>
                  <option value="MONTHLY">Monthly</option>
                </select>
              </div>
            </div>

            <div class="row mb-3">
              <!-- <div class="period-settings" style="display: none" id="daily">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="d_settings"
                    id="d_daily"
                  />
                  <div class="form-check-label" for="d_settings">
                    <span class="d-inline">Every</span>
                    <input
                      id="d_interval_days"
                      name="d_interval_days"
                      type="number"
                      placeholder=""
                      class="form-control d-inline"
                      required=""
                    />
                    <span class="d-inline">day(s)</span>
                  </div>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="d_settings"
                    id="d_weekdays"
                    checked
                  />
                  <label class="form-check-label" for="d_settings">
                    Every weekday
                  </label>
                </div>
              </div> -->

              <div class="col-4">
                
                <div id="occurance-number-container" class="d-none control-group">
                  <label class="form-label" for="occurance_number">The</label>
                  <select
                    id="occurance_number"
                    name="occurance_number"
                    class="form-select"
                  >
                    <!-- <option value="daily">Daily</option> -->
                    <option selected="selected" value="1">First</option>
                    <option value="2">Second</option>
                    <option value="3">Third</option>
                    <option value="4">Fourth</option>
                    <option value="-1">Last</option>
                  </select>
                </div>

              </div>
              <div class="col-4">
                <div id="days-of-week-container">
                  <label class="form-label"> </label>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="MO"
                    name="days_of_week[]"
                    id="m_mo"
                  />
                  <label class="form-check-label" for="m_mo"> Monday </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="TU"
                    name="days_of_week[]"
                    id="m_tu"
                  />
                  <label class="form-check-label" for="m_tu"> Tuesday </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="WE"
                    name="days_of_week[]"
                    id="m_we"
                  />
                  <label class="form-check-label" for="m_we"> Wednesday </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="TH"
                    name="days_of_week[]"
                    id="m_th"
                  />
                  <label class="form-check-label" for="m_th"> Thursday </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="FR"
                    name="days_of_week[]"
                    id="m_fr"
                  />
                  <label class="form-check-label" for="m_fr"> Friday </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="SA"
                    name="days_of_week[]"
                    id="m_sa"
                  />
                  <label class="form-check-label" for="m_sa"> Saturday </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="SU"
                    name="days_of_week[]"
                    id="m_su"
                  />
                  <label class="form-check-label" for="m_su"> Sunday </label>
                </div>
              </div>
            </div>

              <div class="col-4">
              <div id="interval-container">
                <span class="d-inline">of every</span>
                <input
                  id="interval"
                  name="interval"
                  type="number"
                  placeholder=""
                  class="form-control d-inline"
                  required=""
                />
                <span class="d-inline" id="interval-text">week(s)</span>
              </div>
            </div>
            
          </div>

          <div class="row mb-3">
          <input class="w-100 btn btn-primary btn-lg" type="submit" value="Generate events">
        </div>
        </div>
      </div>

      <hr class="my-4" />

      
    </form>
  </div>
</div>

<div class="row g-5">
  <div class="col-md-12">

    {% for sessions in session_sets %}
    {% set set_index = loop.index %}
    <table class="table">
      <thead>
        <tr>
          <th>Custom fields</th>
          <th>Max.bookings</th>
          <th>Details</th>
          <th>Date</th>
          <th>Start time</th>
          <th>Finish time</th>
          <th>Room</th>
          <th><form method="POST" action="delete-sessions-set">
            <input type="hidden" name="session_set_index" value="{{ set_index - 1 }}">
            <button type="hidden" name="delete_session">Delete this recurrance</button>
        </form></th>
        </tr>
      </thead>
      <tbody>
        {% for session in sessions %}
        <tr>
          <td scope="row">
            {% for custom_field in session.custom_fields_data %}
              {{ custom_field.field_name }} : {{ custom_field.field_data }} <br>
            {% endfor %}
          </td>
          <td>{{ session.capacity }}</td>
          <td>{{ session.details }}</td>
          <td>{{ session.date }}</td>
          <td>{{ session.timestart }}</td>
          <td>{{ session.timefinish }}</td>
          <td>{{ session.room }}</td>
          <td>
            {% set session_index = loop.index %}
            <form method="POST" action="delete-session">
              <input type="hidden" name="session_set_index" value="{{ set_index - 1 }}">
              <input type="hidden" name="session_index" value="{{ session_index - 1 }}">
              <button type="hidden" name="delete_session">x</button>
          </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% endfor %}

  </div>
</div>
{% endblock content %} 

{% block body_bottom_js %}

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
  flatpickr(".time", {
    enableTime: true,
    noCalendar: true,
    dateFormat: "H:i",
  });
  flatpickr(".cal", {
    enableTime: false,
    dateFormat: "d/m/Y",
  });
</script>

<script>
  let frequency = document.getElementById("frequency");
  let monthly = document.getElementById("occurance-number-container");
  let interval_text = document.getElementById("interval-text");
  frequency.addEventListener("change", function () {
    document.getElementById("interval").value = "";
    checkboxes = document.getElementsByName('days_of_week');
    for(var i=0, n=checkboxes.length;i<n;i++) {
      checkboxes[i].checked = false;
    }

    if (frequency.value == "MONTHLY")
    {
      monthly.classList.remove("d-none")
      interval_text.innerHTML = "month(s)"
    } else {
      monthly.classList.add("d-none")
      interval_text.innerHTML = "week(s)"
      document.getElementById("occurance_number").value = ""
    }
  });
</script>
{% endblock %}
