{% extends "base.html" %} 
{% set active_page = "index" %}
{% block title %}Recurring events generator for Totara{% endblock title %}
{% block content %}
<div class="row p-4 p-md-5 mb-4 text-white rounded bg-dark">
   <div class="col-md-8 px-0">
      <h1 class="display-4">Recurring events generator for Totara</h1>
      <p class="fs-5 text-muted">Since you are on this page, you might already know that generating recurring events in Totara can be a pain, isn't? It's doable if you need just a small number of events, but if for example, you have a training session that is running twice a week every Monday and Wednesday for 12 month, it can take a while to create 52 weeks X 2 events/week = 104 events.</p>
      <p class="fs-5 text-muted">That's when this tool comes handy.</p>
      <p class="lead mb-0"><a href="{{ url_for('upload_rooms') }}" class="text-white fw-bold">Generate recurring events</a></p>
   </div>
   <div class="col-md-4"><img class="img-fluid" src="{{ url_for('static', filename='recurring-events-icon.png') }}"></div>
</div>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
   <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
         <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Step 1</h4>
         </div>
         <div class="card-body">
            <h3 class="card-title pricing-card-title">Upload rooms<br><small class="text-muted fw-light">(optional)</small></h3>
            <p>Simply generate  rooms report from your Totara instance to add rooms to your recurring events.</p>
            <p>You can skip this step if you want to create sessions without rooms assigned.</p>
            <a href="{{ url_for('upload_rooms') }}" class="w-100 btn btn-lg btn-outline-primary">Go to this step</a>
         </div>
      </div>
   </div>
   <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
         <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Step 2</h4>
         </div>
         <div class="card-body">
            <h3 class="card-title pricing-card-title">Add custom fields<br><small class="text-muted fw-light">(optional)</small></h3>
            <p>The easiest way to get your custom fields is to generate a backup of the Seminar activity with at least one event. One you import the backup in this tool you will be able to enter data in custom fields.</p>
            <p>This step is optional and you can skip it if you don't have any custom fields or if you want to leave custom fields empty.</p>
            <a href="{{ url_for('upload_backup') }}" class="w-100 btn btn-lg btn-outline-primary">Go to this step</a>
         </div>
      </div>
   </div>
   <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
         <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Step 3</h4>
         </div>
         <div class="card-body">
            <h3 class="card-title pricing-card-title">Generate events<br><small class="text-muted fw-light">:)</small></h3>
            <p>Create as many recurring events as you like, download the Seminar activity backup and upload it to your Totara instance. That's it!</p>
            <a href="{{ url_for('create_recurring_events') }}" class="w-100 btn btn-lg btn-outline-primary">Go to this step</a>
         </div>
      </div>
   </div>
</div>
<h2 class="display-6 text-center mb-4">Limitations of this tool</h2>
<ol class="list-group list-group-numbered">
   <li class="list-group-item">You can generate only events with one session. If there's a need I'm happy to add functionality to generate multiple sessions for one event. Email me at olexiy.dev@gmail.com.</li>
   <li class="list-group-item">Only "text" type custom fields are supported. And again, if there's a need to include other field types, I'm happy to work on it. Email to your requests to olexiy.dev@gmail.com.</li>
   <li class="list-group-item">I have tested this on Totara 12, but I assume it should work on the other versions starting from 9. I suggest you to always check on your test environment before the production one.</li>
</ol>
{% endblock content %} 

{% block body_bottom_js %}{% endblock body_bottom_js %}
