{% extends "base.html" %}
{% set active_page = "upload-rooms" %}
{% block title %}Upload rooms{% endblock %} {% block
content %}
<div class="row p-4 p-md-5 mb-4 text-white rounded bg-dark">
   <div class="col-md-8 px-0">
      <large class="text-muted fw-light d-block">Step 1 (optional)</large>
      <h1 class="display-4">Upload rooms</h1>
      <p class="fs-5 text-muted">Upload csv file with your Totra instance room details. Ensure that csv has the following headings: id, name, description, capacity, allowconflicts, building, location
      </p>
      <p class="fs-5 text-muted">Below I have added a quick guide how to create this report and generate csv file with rooms in Totara.</p>
      <div>
         <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ form.file.label }} {{ form.file(class="form-control mb-3 btn btn-lg btn-light") }}
		 <div class="btn-group w-100">
            {{ form.submit(class="btn btn-lg btn-primary active") }}<a class="btn btn-lg btn-outline-light"  href="{{ url_for('upload_backup') }}">Skip this step</a>
			 </div>
         </form>
         
         <div class="message">
            {% for category, message in get_flashed_messages(with_categories=True) %}
		    <div class="alert alert-{{category}} mt-3" role="alert">{{ message }}</div>
		    {% if category == 'success'%}
		    	<a class="mb-3 btn btn-lg btn-light" href=" {{ url_for('upload_backup') }}">Go to next step</a>
		    {% endif %}
            {% endfor %} 
		 
            {% if form.file.errors %} 
		    {% for error in form.file.errors %}
		 	<div class="alert alert-danger mt-3" role="alert">{{ error }}</div>
		    {% endfor %} 
            {% endif %}
         </div>
      </div>
   </div>
   <div class="col-md-4"><img class="img-fluid" src="{{ url_for('static', filename='img/csv.png') }}"></div>
</div>
<h2 class="display-6 text-center mb-4">How to download csv with rooms from your Totara instance</h2>
<ol class="list-group list-group-numbered">
   <li class="list-group-item">Go to Reports.</li>
   <li class="list-group-item">Click on "Create report.</li>
   <li class="list-group-item">Enter report name, select source - "Seminar Rooms" and click "Create report" button.</li>
   <li class="list-group-item">Add all required columns and customise their headings as per screenshot: id, name, description, capacity, allowconflicts, building, location</li>
   <li class="list-group-item">Open this report</li>
   <li class="list-group-item">Export report as csv file</li>
</ol>
{% endblock %}
