{% extends "base.html" %} 
{% set active_page = "upload-backup" %}
{% block title %}Upload backup{% endblock %} 

{% block content %}

<div class="row p-4 p-md-5 mb-4 text-white rounded bg-dark">
   <div class="col-md-8 px-0">
      <h1 class="display-4">Upload backup</h1>
      <p class="fs-5 text-muted">On this page you can upload a backup of Seminar activity from your Totara instance. This will allow you to create recurring events and add them to your exisitng seminar activity. All events data will remain as per your backup, including users who already signed up, rooms, events settings, etc.
      </p>
      <p class="fs-5 text-muted">Also, custom fields (if any) for your backup file will be imported and you will be able to add these fields to recurring events. Ensure you backup has at least one event, otherwise custom fields will not be imported.
      </p>
      <p class="fs-5 text-muted">Below there's a quick guide on how to create a Seminar activity backup.</p>
      <div>
         <form enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ form.file(class="form-control mb-3 btn btn-lg btn-light") }}
		 <div class="btn-group w-100">
            {{ form.submit(class="btn btn-lg btn-primary") }}
            <a class="btn btn-lg btn-outline-light"  href="{{ url_for('create_recurring_events') }}">Generate recurring events</a>
			 </div>
         </form>


         

         
         <div class="message">

		    <div class="alert  mt-3" role="alert"></div>

         </div>
      </div>
   </div>
   <div class="col-md-4"><img class="img-fluid" src="{{ url_for('static', filename='img/text.png') }}"></div>
</div>
<h2 class="display-6 text-center mb-4">How to create Seminar activity backup</h2>
<ol class="list-group list-group-numbered">
   <li class="list-group-item">Open seminar activity.</li>
   <li class="list-group-item">In "Administration" block click on "Seminar administration" and select "Backup".</li>
   <li class="list-group-item">In "Backup settings" select what data you want to add to your backup (enrolled users, user role assignment, etc).</li>
   <li class="list-group-item">Click "Jump to final step".</li>
   <li class="list-group-item">Once backup is ready click "Continue" button.</li>
   <li class="list-group-item">Under "Activity backup area" find your backup file and click on the file name to download it.</li>
</ol>
{% endblock %}

{% block body_bottom_js %}
<script>


   $(document).on('submit', 'form', function(e) {
       e.preventDefault();
       message_container = $('.alert')
       $.ajax({
         method: 'POST',
         url: 'upload-backup',
         data: new FormData($(this)[0]),
         contentType: false,
         cache: false,
         processData: false,
         beforeSend: function() {
            $('#spinner').show();
         },
         complete: function(){
            $('#spinner').hide();
         },
         success: function(resp){
               $('#file').val('')
               message_container.addClass('alert-success').removeClass('alert-danger');
               message_container.html(resp.message)
         },
         error: function(request,status, message){
            message_container.addClass('alert-danger').removeClass('alert-success');
            message_container.html(request.responseJSON.message)
         }
       });
   });
   
 </script>
 {% endblock body_bottom_js %}
