{% extends "base.html" %} 
{% set active_page = "upload-backup" %}
{% block title %}Upload MBZ backup file{% endblock %} 

{% block content %}

<div class="row p-4 p-md-5 mb-4 text-white rounded bg-dark">
   <div class="col-md-8 px-0">
      <h1 class="display-4">Add custom fields (optional)</h1>
      <p class="fs-5 text-muted">If you have custom fields for Seminars in your Totara instance and want to add these fields to recurring events, then you need to create a backup of seminar activity with at least one event and upload the backup on this page.
      </p>
      <p class="fs-5 text-muted">Below there's a quick guide on how to create a Seminar activity backup with custom fields.</p>
      <div>
         <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ form.file(class="form-control mb-3 btn btn-lg btn-light") }}
		 <div class="btn-group w-100">
            {{ form.submit(class="btn btn-lg btn-primary") }}
            <a class="btn btn-lg btn-outline-light"  href="{{ url_for('create_recurring_events') }}">Generate recurring events</a>
			 </div>
         </form>


         

         
         <div class="message">
            {% for category, message in get_flashed_messages(with_categories=True) %}
		    <div class="alert alert-{{category}} mt-3" role="alert">{{ message }}</div>
            {% endfor %} 
         </div>
      </div>
   </div>
   <div class="col-md-4"><img class="img-fluid" src="{{ url_for('static', filename='img/csv.png') }}"></div>
</div>
<h2 class="display-6 text-center mb-4">How to create Seminar activity backup with custom fields</h2>
<ol class="list-group list-group-numbered">
   <li class="list-group-item">Coming soon...</li>
  
</ol>
{% endblock %}
